body {
  background: #212339;
  color: white;
  font-family: "Roboto Mono", monospace;
  margin-top: 8rem;

  #app {
    .container {
      text-align: center;

      .link {
        color: aliceblue;
      }

      .connect-wrapper {
        margin-top: 2rem;
        .message {
          color: #00ca94;
          font-size: 14px;
        }
        button.button {
          margin-top: 2rem;
          background: #6970d6;
          border: 0;
          box-shadow: #9ea3e5 4px 4px 0px;
          color: white;
          opacity: 0.8;
          text-transform: uppercase;
          font-size: 13px;
          font-weight: 300;
          padding: 8px 10px;
          border-radius: 4px;
          cursor: pointer;
        }
      }

      #spinner {
        margin-top: 4rem;
        &.idle {
          visibility: hidden;
        }
        &.done {
          .wave-wrapper {
            visibility: hidden;
          }
          .confirmation {
            visibility: visible;
          }
        }
        &.proccesing {
          .wrapper {
            visibility: visible;
          }
        }
        .wave-wrapper {
          .text {
            text-align: center;
            opacity: 0.8;
            font-size: 14px;
          }
          .wrapper {
            margin: 1rem auto 0 auto;
          }
        }
        .confirmation {
          opacity: 0.8;
          visibility: hidden;
          margin-top: 2rem;
          font-size: 14px;
          color: white;
          display: inline-block;
          width: 50%;
        }
      }
    }
  }
}
